
.nav {
    margin: 0 auto;
    nav {
        ul {
            margin: 5px auto;
            padding: 5px;
            font-size: 17px;
            li {
                display: table;
                width: 40%;
                padding: 2px 15px;
                margin: 5px auto;
                .item {
                    color: #000;
                    text-decoration: none;
                }
                .active {
                    color: rgba(9, 157, 189, 1);
                }
                &:hover {
                    background-color: #C4C4C4;
                    border-radius: 5px;
                    .item {
                        color: #fff;
                    }
                }
            }
        }
    }
}

// @media (max-width: 800px) {
//     .nav {
//         display: none;
//     }
// }