.paginatorBox {
    margin: 5px;
}
.selectedPage {
    font-weight: bold;
    color: #099DBD;
}
.paginationItem {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}
.btn {
    display: inline-block;
}
.captchaImg {
    width: 160px;
    height: 90px;
}