.paginatorBox {
    margin: 5px;
}
.selectedPage {
    font-weight: bold;
    color: #fff;
}
.paginationItem {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}
.btn {
    display: inline-block;
}