.app_wrapper {
    display: grid;
    grid-template-rows: 60px, 1fr;
    grid-template-columns: 2fr, 10fr;
    grid-gap: 10px;
    grid-template-areas: 
    "h h h"
    "n c c";
}
.content {
    background-color: #2EAD37;
    border: 2px solid #000;
    grid-area: c;
}