body {
    margin: 0;
    background-color: #E3E3E3;
}
.container {
    .menu {
        display: none;
    }
    .header {
        position: absolute;
        background: #099DBD;
        height: 7vh;
        width: 100%;
        z-index: -1;
    }
    .app_wrapper {
        display: grid;
        grid: 7vh auto / 20vw auto;
        padding: 0 110px;
    }
    .content {
        padding: 15px 20px;
        background-color: #fff;
        grid-column: 2/3;
    }
}

@media (max-width: 800px) {
    .container {
        .app_wrapper { 
            grid: 7vh auto / 0px auto;
        }
        .menu {
            position: absolute;
            top: 5px;
            left: 10px;
            display: block;
            background: transparent;
            border: none;
            font-size: 20px;
        }
        .navBar {
            display: none;
            position: absolute;
            top: 7vh;
            left: 0;
            background-color: #E3E3E3;
        }
        .mobileNavBar {
            display: block;
            width: 100vw;
            height: 100vh;
            text-align: center;
            z-index: 10;
        }
    }
}

