body {
    margin: 0;
    background-color: #E3E3E3;
}
.container {
    .header {
        position: absolute;
        background: #099DBD;
        height: 7vh;
        width: 100%;
        z-index: -1;
    }
    .app_wrapper {
        display: grid;
        grid: 7vh auto / 20vw auto;
        padding: 0 110px;
    }
    .content {
        background-color: #fff;
        grid-column: 2/3;
    }
}
