.avatar {
    width: 100px;
    height: 100px;
}
span {
    display: block;
}

.selectedPage {
    font-weight: bold;
    color: #fff;
}

.paginationItem {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}